<header class="site-header">
  <nav class="navbar">
    <div class="logo">
      <a href="/">📺 Shreya's TV Verse</a>
    </div>

    <ul class="nav-links">
      <li><a href="/money-heist">Money Heist</a></li>
      <li><a href="/alice-in-borderland">Alice in Borderland</a></li>
      <li><a href="/the-boys">The Boys</a></li>
      <li><a href="/stranger-things">Stranger Things</a></li>
    </ul>
  </nav>
</header>